<p-dialog header="Crear grupo" [modal]="true" [(visible)]="showModal" [style]="{ width: '25rem' }">
  <form [formGroup]="groupForm" >
  <span class="p-text-secondary block mb-8">Escribe el nombre del grupo.</span>
  <p-floatlabel class="flex items-center gap-4 mb-4">
    <label for="groupName" class="font-semibold w-24">Group Name</label>
    <input pInputText id="groupName" formControlName="groupName" class="flex-auto" autocomplete="off" />
  </p-floatlabel>
  <div class="flex justify-end gap-2">
    <p-button label="Save"  (click)="onRegister()"></p-button>
  </div>
  </form>
</p-dialog>