<p-dialog header="Crear Usuario" [modal]="true" [(visible)]="showModal" [style]="{ width: '28rem' }">
    <form [formGroup]="userNormalForm" class="dialog-form">
        <div class="form-section">
            <label class="section-label" for="firstName">Nombre</label>
            <input pInputText id="firstName" formControlName="firstName" />
        </div>
        <div class="form-section">
            <label class="section-label" for="lastName">Apellidos</label>
            <input pInputText id="lastName" formControlName="lastName" />
        </div>
        <div class="form-section">
            <label class="section-label" for="dni">DNI</label>
            <input pInputText id="dni" formControlName="dni" />
        </div>
        <div class="form-section">
            <label class="section-label" for="companyName">Empresa</label>
            <input pInputText id="companyName" formControlName="companyName" />
        </div>
        <div class="form-section">
            <label class="section-label" for="email">Email</label>
            <input pInputText id="email" formControlName="email" type="email" />
        </div>
        <div class="form-section">
            <p-checkbox formControlName="isAdmin" [binary]="true" id="isAdmin"></p-checkbox>
            <label for="isAdmin" class="ml-2">Es administrador</label>
        </div>
        <div class="form-actions">
            <p-button label="Registrar" icon="pi pi-user" (click)="onRegister()"></p-button>
        </div>
    </form>
</p-dialog>