<p-dialog header="Panel seleccion fechas" [modal]="true" [(visible)]="showSelectDatesPanel" [style]="{width: '25rem'}">
    <form [formGroup]="datePanelForm">
        <span class="p-text-secondary block mb-8">
            Introduce un rango de fechas
        </span>

        <div class="form-group">
            <label for="initDate" class="section-label">Fecha inicio</label>
            <input pInputText id="initDate" formControlName="initDate" type="date" class="w-full" [min]="today" />
        </div>
        <div class="form-group">
            <label for="endDate" class="section-label">Fecha fin</label>
            <input pInputText id="endDate" formControlName="endDate" type="date" class="w-full" [min]="minEndDate" />
        </div>

        <div class="flex justify-end gap-2 mt-5">
            <p-button label="Generar cuadrante" (click)="generateQuadrant()"></p-button>
        </div>

    </form>
</p-dialog>