<app-group></app-group> <!-- Componente para el popup de crear grupo -->
<app-turn></app-turn> <!-- Componente para el popup de crear turno -->
<app-create-new-user></app-create-new-user> <!-- Componente para el popup de crear user -->
<app-book-turn></app-book-turn> <!-- Componente para el popup de buscar turno -->
<app-select-dates-panel></app-select-dates-panel> <!-- Componente para el popup de seleccionar rango de fechas -->

<div class="flex justify-content-center align-items-center min-h-screen custom-bg">
  <div class="register-container p-6 rounded-lg shadow-lg w-96">
    <div class="text-center mb-5">
      <app-logo></app-logo>
      <div class="text-white text-3xl font-semibold mb-3">Panel administrador</div>
      <nav class="text-white">
        <span class="mr-4">Cuadrante</span>
        <span class="mr-4">Usuarios</span>
        <span>Ayuda</span>
      </nav>
    </div>
    <h1 class="text-white">Bienvenido, {{userName}}</h1>
    <h2 class="text-white">¿Qué quieres hacer hoy?</h2>

    <!-- <app-select-dates-panel *ngIf="openSelectDatesPanel()" (close)="closeSelectDatePanel()"></app-select-dates-panel> -->

    <div class="menu">
      <button (click)="toggleMenu('cuadrantes')" class="main-btn">Cuadrantes</button>
      <div class="submenu" *ngIf="activeMenu === 'cuadrantes'">
        <button pButton type="button" icon="pi pi plus" (click)="openSelectDatePanel()">Crear cuadrante</button>
        <button>Historial de cuadrantes</button>
      </div>
    </div>

    <div class="menu">
      <button (click)="toggleMenu('usuarios')" class="main-btn">Usuarios</button>
      <div class="submenu" *ngIf="activeMenu === 'usuarios'">
        <button pButton type="button" icon="pi pi-plus" (click)="openUserDialog()">Crear Usuario</button>
        <button>Mostrar Usuarios</button>
        <button pButton type="button" icon="pi pi-plus" (click)="openBookTurnDialog()">Buscar Turno</button>
        <button pButton type="button" icon="pi pi-plus" (click)="openGroupDialog()">Crear Grupo</button>
        <button pButton type="button" icon="pi pi-plus" (click)="openTurnDialog()">Crear Turno</button>
      </div>
    </div>
  </div>
</div>